.App {
    margin: 0;
    padding: 0;
}

.title-container, h1 {
    margin: 0;
    padding: 0;
}

.title-container {
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}