.App {
    margin: 0;
    padding: 0;
}

.title-container, h1 {
    margin: 0;
    padding: 0;
}

.title-container {
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.comics-container {
    display: flex;
    flex-wrap: wrap;
}

.comics {
    width: calc(33.3333% - 20px);
    margin: 10px;
    box-shadow: none;

    /* display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1; */
}

.comics:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 20px 50px 50px -30px;
}